body {
  background-image: url("../img/bg-10-full.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height: 70px;
  width: 70px;
  margin: 20px;
}
.channel{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* background-color: rgba(180, 181, 184, 0.235);
  border-radius: 10px; */
}

.displ li, .stateList li {
  margin:0;
  padding: 10px;
list-style-type: none;
display: inline;
}

.displ li{
 margin: 5em;
}
.stateList li, .channel{
  border-radius: 7px;  
  background-color: rgba(180, 181, 184, 0.358);
  
}
.green{
  color: rgb(24, 157, 24);
}
.red{
  color: rgb(230, 44, 44);
  
}