body {
  background-image: url("../img/bg-10-full.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  height: 70px;
  width: 70px;
  margin: 20px;
}
ul li {
  list-style-type: none;
  display: inline;
}
.board {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.channel,
.stateList a {
  border-radius: 7px;
  background-color: rgba(180, 181, 184, 0.358);
}
.but {
  margin-top: 5em;
  margin-left: -25em;
}
.channel p {
  margin-left: 3em;
}
.channel {
  margin-top: 2em;
  width: 40em;
}
.displ li,
.stateList li {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: inline;
}

.displ li {
  margin: 5em;
}
.stateList a {
  padding: 1em;
}
